body{
    background-color: #75e3ba;
}
.image-container {
    display: flex;
    margin-left: 0.5%;
}
.image-container img {
    margin-top: 0%;
    padding: 3%;
    width: 27% ;
    height: 65vh; 
}
.h{
    text-align: center;
    font-size: 50px;
}
.steps{
    height: 10vh;
}
.steps.li{
    display: inline-block;
}
.li{
    padding: 14%;
    margin-top: 5%;
    font-size: 25px;
}
.inst{
    display: inline;
    padding: 12%;
    margin-top: 5%;
    font-size: 12px;
}